<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean lazy-init="false"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<description>Property configurer</description>
		<property name="locations">
			<list>
				<value>classpath:soak.properties</value>
			</list>
		</property>
		<property name="placeholderPrefix" value="${" />
		<property name="ignoreUnresolvablePlaceholders" value="false" />
	</bean>

	<bean id="hostsDBDatasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		lazy-init="true">
		<property name="driverClassName">
			<value>org.hsqldb.jdbcDriver</value>
		</property>
		<property name="url">
			<value>jdbc:hsqldb:mem:soak</value>
		</property>

	</bean>
	<bean id="userDetailsService"
		class="edu.bath.soak.testutils.MockUserDetailsService">
	</bean>



	<bean class="test.PreDatabaseSetup">
		<property name="dataSource" ref="hostsDBDatasource" />
	</bean>
</beans>