<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<bean  name="props"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<description>Property configurer</description>
		<property name="location">
			<value>classpath:soak.properties</value>
		</property>
	</bean>

	<bean depends-on="props" id="hostsDBDatasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		lazy-init="true">
		<description>
			The Data soruce properties, note that this currently has the
			DB driver, username and password. This is here (and not in a
			properties file) because of a problem with the
			PropertyPlaceholderConfigurer not properly overriding
			properties in beans which are loded on context startup.
		</description>
		<property name="driverClassName">
			<value>${soak.db.driverClass}</value>
		</property>
		<property name="url">
			<value>${soak.db.url}</value>
		</property>
		<property name="username">
			<value>${soak.db.userName}</value>
		</property>
		<property name="password">
			<value>${soak.db.password}</value>
		</property>
	</bean>


	<!--	<import resource="live-data-import.xml" />-->
</beans>